# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specific

# Do NOT ignore models/ folder because we need the models for deployment
# Do NOT ignore dashboard/eda_charts/ because we need them for the dashboard
